School.UI.SistemaMatricula/Service References/ServiceReferenceSchool/ServiceSchool.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSchool" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59888/ServiceSchool.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59888/ServiceSchool.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59888/ServiceSchool.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/School.Service.wcf" />
      <xsd:import schemaLocation="http://localhost:59888/ServiceSchool.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/School.Entities.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSchool_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAlumnosByNombes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnosByNombes" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAlumnosByNombes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnosByNombesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_AddAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlumno" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_AddAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAlumnoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnoById" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAlumnoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlumnoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAllGrados_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGrados" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAllGrados_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGradosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAllSecciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSecciones" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetAllSecciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetIdGrado_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdGrado" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetIdGrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdGradoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetIdSeccion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdSeccion" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_GetIdSeccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_AddMatricula_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMatricula" />
  </wsdl:message>
  <wsdl:message name="IServiceSchool_AddMatricula_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMatriculaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSchool">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetData" message="tns:IServiceSchool_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetDataResponse" message="tns:IServiceSchool_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetDataUsingDataContract" message="tns:IServiceSchool_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetDataUsingDataContractResponse" message="tns:IServiceSchool_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlumnosByNombes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetAlumnosByNombes" message="tns:IServiceSchool_GetAlumnosByNombes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetAlumnosByNombesResponse" message="tns:IServiceSchool_GetAlumnosByNombes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/AddAlumno" message="tns:IServiceSchool_AddAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/AddAlumnoResponse" message="tns:IServiceSchool_AddAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlumnoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetAlumnoById" message="tns:IServiceSchool_GetAlumnoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetAlumnoByIdResponse" message="tns:IServiceSchool_GetAlumnoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGrados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetAllGrados" message="tns:IServiceSchool_GetAllGrados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetAllGradosResponse" message="tns:IServiceSchool_GetAllGrados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSecciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetAllSecciones" message="tns:IServiceSchool_GetAllSecciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetAllSeccionesResponse" message="tns:IServiceSchool_GetAllSecciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdGrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetIdGrado" message="tns:IServiceSchool_GetIdGrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetIdGradoResponse" message="tns:IServiceSchool_GetIdGrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdSeccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/GetIdSeccion" message="tns:IServiceSchool_GetIdSeccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/GetIdSeccionResponse" message="tns:IServiceSchool_GetIdSeccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMatricula">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSchool/AddMatricula" message="tns:IServiceSchool_AddMatricula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSchool/AddMatriculaResponse" message="tns:IServiceSchool_AddMatricula_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSchool" type="tns:IServiceSchool">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlumnosByNombes">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetAlumnosByNombes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlumno">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/AddAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlumnoById">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetAlumnoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGrados">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetAllGrados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSecciones">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetAllSecciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdGrado">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetIdGrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdSeccion">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/GetIdSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMatricula">
      <soap:operation soapAction="http://tempuri.org/IServiceSchool/AddMatricula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSchool">
    <wsdl:port name="BasicHttpBinding_IServiceSchool" binding="tns:BasicHttpBinding_IServiceSchool">
      <soap:address location="http://localhost:59888/ServiceSchool.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>